<form id="login_form" method="post"	action="clear_post.php?module={{:module:}}&page=login" onsubmit="return false">
	[:login_title:]
	<div class="login_title">{{:_AUTHORIZATION:}}</div>
	[:login_title:]
	<div id="login_error"></div>
	<div class="userLoginPane">
		<div class="user">
			<input type="text" id="username" name="username" placeholder="{{:_USERNAME:}}...">
		</div>
		<div class="password">
			<input type="password" id="password" name="password" placeholder="{{:_PASSWORD:}}...">
		</div>
	</div>
	<div class="userControlsPane">
	    <input type="submit" id="login_button" name="login" value="{{:_LOGIN_TO_SYSTEM:}}" />
		<span><a href="index.php?module=users&page=restore_password">{{:_RESTORE_PASSWORD:}}</a></span>
	</div>
</form>

<script type="text/javascript">
$("#login_form").submit(function(){
	$.post('clear_post.php?module={{:module:}}&page=login', {login: 1, username: obj_value('username'), password: obj_value('password'), login_type: 'ajax'})
		.done(function(data){
			if(data == 'ok'){
				$.get('body.php?module={{:module:}}&page=choose_profile_main')
				.done(function(data){
					if($(".userLoginPane_default").length == 0) {
						$("#login_main_page").html(data);
						$("#head_child").css('background-image', 'url(images/head_child_2.jpg)');
						$(".join_now").html('');
					}
					else{
						$("#custom-content").html(data);
					}
				})
			}
			else{
				$("#login_error").css('display', 'block');
				$("#login_error").html(data);
			}
		})
})
</script>