<span style="font-size:14px;">თქვენ დარეგისტრირდით მათემატიკის უფასო ჩემპიონატზე.</span><br/>
<br/>
<br/>
<span style="font-size:14px;">შესარჩევი ტურის ჩატარების თარიღის შესახებ მიმართეთ სკოლას.დამატებითი ინფორმაციისთვის ეწვიეთ ჩემპიონატის ვებგვერდს <a	href="http://champ.logicmeter.com">champ.logicmeter.com.</a></span>
<br/>
<h3 style="color: #2CA5DE">თქვენი მონცემები:</h3>
<div style="font-size: 14px">
	<strong>სახელი, გვარი:</strong> {{:name:}} {{:surname:}}<br/>
	<strong>ელფოსტა:</strong> {{:mail:}}<br/>
	<strong>ტელეფონის N:</strong> {{:tel:}}<br/>
</div>
<br/>
<h3 style="color: #2CA5DE">მონაწილე ბავშვები:</h3>
[:children:]
<div style="font-size: 14px; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #ececec;">
	<strong>სახელი, გვარი:</strong> {{:name:}} {{:surname:}}<br/>
	<strong>კლასი:</strong> {{:grade:}}<br/>
	<strong>სკოლა:</strong> {{:region:}} - {{:school:}}
</div>
[:children:]
<br/>
<br/>