გაცნობებთ, რომ კომპანია &bdquo;<strong>ლოგიკმეტრის</strong>&ldquo; ორგანიზებით ტარდება <strong>ჩემპიონატი მათემატიკაში</strong> II, III, IV და V კლასის მოსწავლეებისათვის.<br/>
<br/>
ჩემპიონატში დარეგისტრირება და ორივე ეტაპზე (შესარჩევი, ფინალი) მონაწილეობის მიღება უფასოა!!!
<br><br>
წესები და პირობები შეთანხმებულია <u>საქართველოს განათლებისა და მეცნიერების სამინისტროსთან</u>.
<br><br>
ჩემპიონატში მონაწილეობის მისაღებად გთხოვთ, გაეცნოთ თანდართულ პრეზენტაციას და გაიაროთ რეგისტრაცია გამოგზავნილ ბმულზე, წინააღმდეგ შემთხვევაში თქვენი სკოლის II, III IV და V კლასის მოსწავლეები ჩემპიონატში მონაწილეობას ვერ მიიღებენ.
<br><br>
არ დაკარგოთ შესაძლებლობა, თქვენი სკოლა წარმოადგინოთ მათემატიკის ჩემპიონატზე.
<br><br><br>
<a href="http://champ.logicmeter.com/index.php?module=users&amp;page=register_school&amp;school_hash={{:school_hash:}}"
   style="display: inline-block; background: #3ac14d; color: #ffffff; font-size: 20px; border-radius: 10px; padding: 10px 20px; text-align: center;">რეგისტრაცია</a>
<br><br><br>
დამატებითი ინფორმაციისთვის დაგვიკავშირდით:
<br>
ტელ: 0322 200 229
<br>
ელ-ფოსტა: champ@logicmeter.com



