<header>
	<div class="head_body">{{:admin:}}
		<div class="logo">
			<a href="index.php"></a>
		</div>
		<div class="menu_default">
			{{:clear_post.php?module=menu&page=main&menu_id=2:}}
		</div>
		<div class="head_right">
			{{:clear_post.php?module=users&page=auth_main_page:}}
		</div>
	</div>
</header>

<div class="head_line">
  {{:clear_post.php?module=championship&page=head:}}
</div>

<!-- <div class="head_line">
	<div class="head_right">
		{{:clear_post.php?module=users&page=login_default_page:}}
	</div>
</div> -->

<div class="center">
	<div class="center_body">
		{{:clear_post.php?module=$module:}}
	</div>
</div>

<div class="clearfix"></div>

<footer>
	<div class="footerMenu">
		<div class="wrapper">
			{{:clear_post.php?module=text&page=text&link_id=1:}}
		</div>
	</div>
	<div class="footerCopy">{{:_COPYRIGHT:}}</div>
</footer>