<table class="statistic_table" style="width: 300px">
  <tr>
    <th width="150" class="table_head">Templates</th>
    <th width="50" class="table_head" align="center">Active</th>
    <th width="40" class="table_head" colspan=2></th>
  </tr>
  [:templates:]
  <tr>
    <td class="{{:td_style:}}">
    	<a href="admin.php?module={{:module:}}&page=template_details&tmpl_id={{:tmpl_id:}}">{{:name:}}</a>
    </td>
    <td class="{{:td_style:}}" align="center">{{:active:}}</td>
    <td class="{{:td_style:}}" align="center">{{:edit:}}</td>
    <td class="{{:td_style:}}" align="center">{{:delete:}}</td>
  </tr>
  [:templates:]
</table>
