<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Logicmeter</title>
<meta property="og:url"           content="{{:url:}}" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="{{:_WEB_TITLE:}}" />
<meta property="og:description"   content="{{:child_name:}} {{:final_point:}} ქულით გადავიდა ნახევარფინალში" />
<meta property="og:image"         content="http://champ.logicmeter.com/images/im_in_semifinal.jpg?v=7" />
<meta property="fb:app_id"         content="470575553140786" />
</head>
<body>

{{:child_name:}} {{:final_point:}} ქულით გადავიდა ნახევარფინალში

</body>
</html>