<script type="text/javascript" src="functions/jssor.js"></script>
<script type="text/javascript" src="functions/jssor.slider.min.js"></script>
<script>
	jQuery(document).ready(function($){
		var options = {
				$FillMode : 0,
				$AutoPlay : true,
				$AutoPlaySteps : 1, 
				$AutoPlayInterval : 6000, 
				$PauseOnHover : 1, 
				
				$ArrowKeyNavigation : true, 
				$SlideDuration : 500, 
				$MinDragOffsetToSlide : 20, 
				
				
				$SlideSpacing : 0, 
				$DisplayPieces : 1, 
				$ParkingPosition : 0, 
				$UISearchMode : 1, 
				$PlayOrientation : 1, 
				$DragOrientation : 3, 

				$ArrowNavigatorOptions : {
					$Class : $JssorArrowNavigator$, 
					$ChanceToShow : 1, 
					$AutoCenter : 2, 
					$Steps : 1
				
				},

				$ThumbnailNavigatorOptions : {
					$Class : $JssorThumbnailNavigator$, 
					$ChanceToShow : 2, 

					$ActionMode : 1, 
					$AutoCenter : 3, 
					$Lanes : 1, 
					$SpacingX : 3, 
					$SpacingY : 3, 
					$DisplayPieces : 9, 
					$ParkingPosition : 260, 
					$Orientation : 1, 
					$DisableDrag : false
				
				}
			};

			var jssor_slider2 = new $JssorSlider$("slider2_container", options);
			
			
			function ScaleSlider() {
				var parentWidth = jssor_slider2.$Elmt.parentNode.clientWidth;
				if (parentWidth){
					$("#slider_body").css("width", $("html").innerWidth()+"px");
					//$(".slider_img").css("background-size", Math.max($("html").innerWidth(), 1000)+"px auto");
					$(".slider_desc").css("margin-left", (($("html").innerWidth() - 460) / 2)+"px");
					$(".slider_nav").css("left", (($("html").innerWidth() - 460) / 2)+"px");
					$(".sliderRight").css("left", ($("html").innerWidth() - 60)+"px");
				}
				else{
					window.setTimeout(ScaleSlider, 30);
				}
			}
			ScaleSlider();

			$(window).bind("load", ScaleSlider);
			$(window).bind("resize", ScaleSlider);
			$(window).bind("orientationchange", ScaleSlider);
	})
</script>


<div id="slider2_container" style="position: relative; width: 1903px; height: 700px;">
	<div u="slides" id="temp" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 1903px; height: 700px; overflow: hidden;">
		[:topics:]
		<div class="slider_img" style="background: url('{{:image_src:}}'); background-position: top center; background-attachment: fixed;">
			<div class="slider_desc" u="image" style="position: relative; margin: 543px auto; width: 460px; height: 157px; text-align: center; background: url('images/black.png')">
				<a href="topicdetals-{{:topic_id:}}.{{:id:}}.html" style="display: block; padding: 10px">
					{{:topic_title:}}
				</a>
			</div>
			<div u="thumb"></div>
		</div>
		[:topics:]
		
	</div>
		
	<!-- thumbnail navigator container -->
	<div u="thumbnavigator" style="position: relative; width: 1900px; height: 17px; text-align: center">	
		<div class="slider_desc" style="margin: 543px auto; WIDTH: 460px; HEIGHT: 17px"></div>
		<!-- the following background element is optional -->

	
		<!-- Thumbnail Item Skin Begin -->
		<div u="slides" class="slider_nav" style="margin: 130px 0 0 210px; height: 17px;">
			<div u="prototype" style="POSITION: relative; WIDTH: 10px; HEIGHT: 10px; opacity: 0.4; background: #fff; border-radius: 100%; cursor: pointer;">
				<div u="thumbnailtemplate"	style="font-weight: normal; color: #000; line-height: 30px; font-size: 16px;"></div>
			</div>
		</div>
		<!-- Thumbnail Item Skin End -->
		
	</div>
			
			
	
	<!-- Arrow Left -->
    <span u="arrowleft" class="jssora02l sliderLeft" style="top: 70px; left: 10px;"></span>
    <!-- Arrow Right -->
    <span u="arrowright" class="jssora02r sliderRight" style="top: 70px; right: 10px;"></span>

</div>

<script type="text/javascript">
//$("#slider2_container").css("width", $("html").innerWidth()+"px");
//$("#temp").css("width", $("html").innerWidth()+"px");
$(".slider_img").css("bacground-size", $("html").innerWidth()+"px auto");
</script>


